<!--
 * @file Account.razer
 * @author Thomas Tran Dang (thomasdang92@gmail.com) Madelyn Little (mlittle6@atu.edu)
 * @brief This file provides the code for the account portion of the web application.
 * @version 0.1
 * @date 2023-10-16
 *
 * @copyright Copyright (c) 2023
 *
-->
@page "/account"
<PageTitle>Account</PageTitle>
<h1>Account information will be shown here -_- -_- -_-</h1>
<p>screaming crying throwing up</p>