<!--
 * @file Account.razer
 * @author Thomas Tran Dang (thomasdang92@gmail.com) and Madelyn Little (mlittle6@atu.edu)
 * @brief This file provides the code for the account portion of the web application.
 * @version 0.12
 * @date 2023-12-09
 *
 * @copyright Copyright (c) 2023
 *
-->
@page "/account"
<PageTitle>Account</PageTitle>
<link href="css/Account.css" rel="stylesheet" />
@inject IJSRuntime JSRuntime

<body>
    <h1 class="welcome">Profile Page</h1>

    <div class="profile-menu">
    <div class="user-info-container"> 
        <div class="icon-container">
            <img src="\images\account-icon.svg" alt="account avatar" class="account">
        </div>

        <div class="wow"> 
            <p id="emaildiv"></p>
            <p id="firstnamediv"></p>
            <p id="lastnamediv"></p>
        </div>
        <div class="user-actions"> 
                <button class="share-profile-button">Edit Profile Info</button>
                <button class="create-build-button">Create Build</button>
                <button class = "signOut" type="button" id="signoutButton">Sign Out</button>
            </div>
    </div>

    
        
    

    <div id="saved-builds-container">
    <div class="saved-build-entry">
        <img src="\images\case.png" alt="Build Icon" class="build-icon">
        <span class="build-name">PC build Name</span>
        <span class="build-price">$3,000</span>
        <button class="edit-build">Edit</button>
        <button class="delete-build">Delete</button>
    </div>
    <!-- Repeat the above div for each saved build entry -->
    <div class="saved-build-entry">
        <img src="\images\case.png" alt="Build Icon" class="build-icon">
        <span class="build-name">PC build Name</span>
        <span class="build-price">$3,000</span>
        <button class="edit-build">Edit</button>
        <button class="delete-build">Delete</button>
    </div>
    <div class="saved-build-entry">
        <img src="\images\case.png" alt="Build Icon" class="build-icon">
        <span class="build-name">PC build Name</span>
        <span class="build-price">$3,000</span>
        <button class="edit-build">Edit</button>
        <button class="delete-build">Delete</button>
    </div>
</div>
</div>

    <script src="/js/Account.js" defer></script>
</body>