<!--
 * @file Login.razer
 * @author Thomas Tran Dang (thomasdang92@gmail.com) Madelyn Little (mlittle6@atu.edu)
 * @brief This file provides the code for the login portion of the web application.
 * @version 0.2
 * @date 2023-11-29
 *
 * @copyright Copyright (c) 2023
 *
-->
@page "/login"
<PageTitle>Login</PageTitle>
<link href="css/Login.css" rel="stylesheet" />

<body>
    <h1 class="welcome">Welcome Back!</h1>
    <!-- Note: Keep this for testing please
         <form class="login-menu" id="loginMenu">
            <form class="login-menu" action="/account" id="loginMenu">
    -->
    <form class="login-menu" id="LoginMenu" onsubmit="return SignInUser(event);">
        <div class="icon-container">
            <img src="\images\account-icon.svg" alt="account avatar" class="account">
        </div>
        <input type="email" placeholder="Email" name="email" id="emailInput" required><br><br>
        <input type="password" placeholder="Password" name="pswd" id="passwordInput" required><br><br>
        <button class="login-button" type="submit">Login</button><br><br>
        <p style="font-size: 25px;">Don't have an account? <a href="/register">Get Started!</a></p>
    </form>
    
    <script type="module">
        //  Imported Firebase Functions
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-analytics.js";
        import { getFirestore, doc, getDoc } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-firestore.js";
        import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-auth.js";

        // Firebase Config
        const firebaseConfig = {
        apiKey: "AIzaSyBhFh8-bPKf37j_MCZaJucZ6W17OaumkuY",
        authDomain: "pcdesign-99abf.firebaseapp.com",
        projectId: "pcdesign-99abf",
        storageBucket: "pcdesign-99abf.appspot.com",
        messagingSenderId: "359736132475",
        appId: "1:359736132475:web:04c009de7e4ca4445c33de",
        measurementId: "G-RH6BHMJ91H"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const db = getFirestore();
        const auth = getAuth(app);


        let EmailInput = document.getElementById('emailInput');
        let PasswordInput = document.getElementById('passwordInput');
        let LoginMenu = document.getElementById('LoginMenu');


        let SignInUser = evt => {
            evt.preventDefault();

            signInWithEmailAndPassword(auth, EmailInput.value, PasswordInput.value)
                .then(async (credentials) => {
                    var ref = doc(db, "UserList", credentials.user.uid);
                    const docSnap = await getDoc(ref);


                    if (docSnap.exists()) {
                        console.log(credentials);
                        sessionStorage.setItem("user-info", JSON.stringify({
                            firstName: docSnap.data().firstName,
                            lastName: docSnap.data().lastName
                        }))
                        sessionStorage.setItem("user-creds", JSON.stringify(credentials.user));
                        window.location.href = "/account";
                    }
                    else {
                        sessionStorage.clear();
                    }

                })
                // Error message (just in case)
                .catch((error) => {
                    alert(error.message);
                    console.log(error.code);
                    console.log(error.message);
                })
        }

        LoginMenu.addEventListener('submit', SignInUser);
    </script>
</body>
