<!--
 * @file Login.razer
 * @author Thomas Tran Dang (thomasdang92@gmail.com) Madelyn Little (mlittle6@atu.edu)
 * @brief This file provides the code for the login portion of the web application.
 * @version 0.2
 * @date 2023-11-29
 *
 * @copyright Copyright (c) 2023
 *
-->
@page "/login"
<PageTitle>Login</PageTitle>
<link href="css/Login.css" rel="stylesheet" />

<body>
    <h1 class="welcome">Welcome Back!</h1>
    <!-- Note: Keep this for testing please
         <form class="login-menu" id="loginMenu">
            <form class="login-menu" action="/account" id="loginMenu">
    -->
    <form class="login-menu" id="LoginMenu" onsubmit="return SignInUser(event);">
        <div class="icon-container">
            <img src="\images\account-icon.svg" alt="account avatar" class="account">
        </div>
        <input type="email" placeholder="Email" name="email" id="emailInput" required><br><br>
        <input type="password" placeholder="Password" name="pswd" id="passwordInput" required><br><br>
        <button class="login-button" type="submit">Login</button><br><br>
        <label id="forgotpasslabel" style="cursor: pointer;">Forgot Password?</label>
        <p style="font-size: 25px;">Don't have an account?<br> <a href="/register">   Get Started!</a></p>
    </form>
    
    <script src="/js/Login.js" type="module"></script>
</body>
