<!--
@file Wiki.razor
@author Thomas Tran Dang (thomasdang92@gmail.com) Yuchen Li (lyc646734092@gmail.com)
@brief This file provides the code for the wiki portion of the web application.
@version 0.1
@date 2023-10-16
*
@copyright Copyright (c) 2023
*
-->
@page "/wiki"

<PageTitle>PC Design Wiki</PageTitle>
<link href="css/Wiki.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="accordion">
    <div class="button-Container">

        <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">
            <span class="material-symbols-outlined">
                expand_less
            </span>
            Starter Guides
        </button>
        <div class="panel" id="panel1">
            <NavLink class="nav-link" href="/wiki/article/1">How To Start Picking Your PC Parts</NavLink>
            <NavLink class="nav-link" href="/wiki/article/9">What Are Use Cases?</NavLink>
            <NavLink class="nav-link" href="/wiki/article/10">What Are Cases Size?</NavLink>
        </div>

      
        <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">

            <span class="material-symbols-outlined">
                expand_less
            </span>
            PC Parts Defined
        </button>
        <div class="panel" id="panel2">
            <NavLink class="nav-link" href="/wiki/article/2">PC Parts Defined</NavLink>
        </div>

        <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">

            <span class="material-symbols-outlined">
                expand_less
            </span>
            Putting Together Your PC
        </button>
        <div class="panel" id="panel3">
            <NavLink class="nav-link" href="/wiki/article/3">Putting Together Your PC</NavLink>
        </div>

        <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">

            <span class="material-symbols-outlined">
                expand_less
            </span>
            Configring Software
        </button>
        <div class="panel" id="panel4">
            <NavLink class="nav-link" href="/wiki/article/4">Configring Software</NavLink>
        </div>

        <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">

            <span class="material-symbols-outlined">
                expand_less
            </span>
            Configring Startup
        </button>
        <div class="panel" id="panel5">
            <NavLink class="nav-link" href="/wiki/article/5">Configring Startup</NavLink>
        </div>

       <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">

            <span class="material-symbols-outlined">
                expand_less
            </span>
            Configring Bios
        </button>
        <div class="panel" id="panel6">
            <NavLink class="nav-link" href="/wiki/article/6">Configring Bios</NavLink>
        </div>

       <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">

            <span class="material-symbols-outlined">
                expand_less
            </span>
            Keeping Your Old Files & Data
        </button>
        <div class="panel" id="panel7">
            <NavLink class="nav-link" href="/wiki/article/7">Keeping Your Old Files & Data</NavLink>
        </div>

       <button class="accordion-button button" id="article1" onclick="this.classList.toggle('actived')">

            <span class="material-symbols-outlined">
                expand_less
            </span>
            Trouble Shooting
        </button>
        <div class="panel" id="panel8">
            <NavLink class="nav-link" href="/wiki/article/8">Trouble Shooting</NavLink>
        </div>

    </div>
</div>


